<div>
    <h2 class="page-header">
        <span>{{list.title}}</span>
        <small>Created: {{list.dt_created | date:format}}</small>
        <br/>
        <small>{{list.description}}</small>
    </h2>
    
    <h3>
        <span>Entries</span>
        <a class="btn btn-default" ui-sref="lists.detail.create()"><span class="fa fa-plus"></span></a>
    </h3>
    <div data-ng-repeat="entry in list.entries | orderBy:['done','title']">
        <div class="input-group">
            <div class="input-group-addon">
                <input type="checkbox" data-ng-init="entry.tmpDone = entry.done" data-ng-model="entry.tmpDone" data-ng-change="updateDone(entry)"/>
            </div>
            <div class="form-control-static form-control">
                <span data-ng-bind="entry.title" data-ng-click="entry.tmpDone = !entry.tmpDone; updateDone(entry);"></span>
            </div>
            <div class="input-group-btn">
                <button class="btn btn-default" ui-sref="lists.detail.edit({entryId: entry.id})">
                    <span class="fa fa-pencil"></span>
                </button>
                <button class="btn btn-default" data-ng-init="entry.showDescription = false" data-ng-click="entry.showDescription = !entry.showDescription">
                    <span data-ng-class="entry.showDescription ? 'fa fa-minus-square-o' : 'fa fa-plus-square-o'"></span>
                </button>
            </div>
        </div>
        <div data-ng-show="entry.showDescription">
            {{entry.description}}
        </div>
    </div>
    
    <div ui-view="edit"></div>
</div>