<div>
    <h2 class="page-header">
        <span>{{list.title}}</span>
        <small>Created: {{list.dt_created | date:format}}</small>
        <br/>
        <small>{{list.description}}</small>
    </h2>
    
    <h3>
        <span>Entries</span>
        <a class="btn btn-default" ui-sref="lists.detail.create()"><span class="fa fa-plus"></span></a>
    </h3>
    <div data-ng-repeat="entry in list.entries" >
        <input type="checkbox" data-ng-init="entry.tmpDone = entry.done" data-ng-model="entry.tmpDone" data-ng-change="updateDone(entry)"/>
        <a data-ng-bind="entry.title"></a>
        <span class="btn-group btn-group-sm">
            <button class="btn btn-default" ui-sref="lists.detail.edit({entryId: entry.id})"><span class="fa fa-pencil"></span></a>
            <button class="btn btn-default" data-ng-init="entry.showDescription = false" data-ng-click="entry.showDescription = !entry.showDescription"><span data-ng-class="entry.showDescription ? 'fa fa-minus-square-o' : 'fa fa-plus-square-o'"></span></button>
        </span>
        <div data-ng-show="entry.showDescription">
            <small data-ng-bind="entry.description"></small>
        </div>
    </div>
    
    <div ui-view="edit"></div>
</div>