<!DOCTYPE html>
<html data-ng-app="myGroceryList" data-ng-controller="AppCtrl" class="no-js">
  <head>
    <meta charset="utf-8">

    <title data-ng-bind="pageTitle"></title>

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta http-equiv="cleartype" content="on">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/img/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" sizes="196x196" href="assets/img/touch/touch-icon-196x196.png">
    <link rel="shortcut icon" href="assets/img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/img/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="MyGroceryList">
    <!-- iPhone 3GS, 2011 iPod Touch -->
    <link rel="apple-touch-startup-image" href="assets/img/startup/startup.png" media="(max-device-width : 320px)">
    <!-- iPhone 4, 4S and 2011 iPod Touch -->
    <link rel="apple-touch-startup-image" href="assets/img/startup/startup-retina.png" media="(max-device-width : 480px) and (-webkit-min-device-pixel-ratio : 2)">
    <!-- iPhone 5 and 2012 iPod Touch -->
    <link rel="apple-touch-startup-image" href="assets/img/startup/startup-retina-4in.png" media="(max-device-width : 548px) and (-webkit-min-device-pixel-ratio : 2)">
    <!-- iPad landscape -->
    <link rel="apple-touch-startup-image" sizes="1024x748" href="assets/img/startup/startup-tablet-landscape.png" media="(device-width: 768px) and (orientation: portrait)">
    <!-- iPad Portrait -->
    <link rel="apple-touch-startup-image" sizes="768x1004" href="assets/img/startup/startup-tablet-portrait.png" media="(device-width: 768px) and (orientation: landscape)">
    <!-- iPad (Retina, portrait) -->
    <link rel="apple-touch-startup-image" sizes="1536x2008" href="assets/img/startup/startup-tablet-portrait-retina.png" media="(device-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)">
    <!-- iPad (Retina, landscape) -->
    <link rel="apple-touch-startup-image" sizes="2048x1496" href="assets/img/startup/startup-tablet-landscape-retina.png" media="(device-width: 768px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)">

    <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
    <!--
    <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
    -->

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-ng-init="menuCollapsed = true"
              data-ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            <%= name %>
            <small>
                v<%= version %>
            </small>
            &nbsp;<span class="fa fa-spinner fa-spin fa-lg" data-ng-class="{false: 'invisible'}[isLoading]" title="Loading..."></span>
          </div>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
          <ul class="nav navbar-nav">
            <li data-ui-sref-active="active">
              <a data-ui-sref="home">
                <i class="fa fa-home"></i>
                Home
              </a>
            </li>
            <li data-ui-sref-active="active" data-ng-class="{active: $state.includes('lists')}">
              <a data-ui-sref="lists">
                <i class="fa fa-list"></i>
                Grocery Lists
              </a>
              </li>
              <li data-ui-sref-active="active" data-ng-switch="!!userLoggedIn">
                <a data-ui-sref="login" data-ng-switch-when="false">
                  <i class="fa fa-sign-in"></i>
                  Login
                </a>
                <a data-ui-sref="logout" data-ng-switch-when="true">
                  <i class="fa fa-sign-out"></i>
                  Logout &quot;{{userLoggedIn}}&quot;
                </a>
              </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" data-ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <p>
            &copy; 2014 <a data-ng-href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#114;&#101;&#105;&#110;&#104;&#97;&#114;&#100;&#46;&#104;&#97;&#110;&#100;&#108;&#101;&#114;&#43;&#109;&#121;&#103;&#114;&#111;&#99;&#101;&#114;&#121;&#108;&#105;&#115;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">Reinhard Handler</a>. 
            <br />
            <%= name %> is based on
            <a href="http://www.angularjs.org">AngularJS</a>,
            <a href="http://getbootstrap.com">Bootstrap</a>, 
            <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
            and 
            <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.
          </p>
        </div>
      </div>
    </footer>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </body>
</html>
